#logo {
  height: 32px;
}

p,h4, label {
  margin-bottom: 0;
}

.input-break {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  margin: 5px 0;
  width: 100%;
}

.form-group > span {
  margin-left: 20px;
}

body {
  position: relative;
  background-color: #D9950A;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

#wrapper {
  padding-bottom: 90px;
  position: relative;
  min-height: 100vh;
}

#content-body {
  padding: 0;
}

.form-group {
  margin-bottom: 10px;
}

.btn-save-client {
  width: 250px;
}

.color-primary {
  color: white;
  background-color: #D9950A;
}

.color-primary:hover {
  color: #A63C06;
}

.color-secondary {
  color: black;
  background-color: white;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}

#left-menu {
  height: max-content;
  padding-bottom: 16px;
  background-color: white;
  margin-right: 12px;
}

.color-item-expired {
  background-color: #F6A3BF !important;
}

.color-item-expired:hover {
  background-color: #b46478 !important;
}

.color-item-realised {
  background-color: #b9f6a3 !important;
}

.color-item-realised:hover {
  background-color: #78be64 !important;
}

.menu-header {
  height: 38px;
}

.menu-icon {
  margin-right: 10px;
  filter: invert(1);
}

td {
  overflow: hidden;
}
